@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-cian-degradate: #65d6f9;
  --color-purple-degradate: #9300EA;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 255, 255, 0;
  }
}

.body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.glass-shadowed {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.title-gradient {
  background: -webkit-linear-gradient(35deg, var(--color-cian-degradate), var(--color-purple-degradate) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-menu-toggle {
  span {
    &:not(:first-child) {
      &:before, &:after {
        background-color: var(--color-purple-degradate);
      }
    }
  }
}